            <!-- <div id="page-wrapper" style="width: 80%;right: 0;position: absolute;"> -->
        <div class="row">
            <ul class="breadcrumb" style="margin-top: 60px;background-color: #ffffff;">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/dashboard" ui-sref="root.dashboard">Home</a>
                </li>

                <li class="active">Add Events</li>
            </ul>
        </div>
            <div class="row" >
                <div class="col-md-12">       
                    <div class="forms" style="width: 500px;margin:0 auto;">
                        <div class="form-grids row widget-shadow" data-example-id="basic-forms">
                            <div class="form-title">
                                <h4>Edit Events</h4>
                            </div>
                            <div class="form-body">
                                <form name="userForm" >
                                   <!--  <div class="form-group">
                                        <label for="exampleInputEmail1">Select Doctor</label>
                                            <select class="form-control" id="repeatSelect" ng-model="patient.doctorId" required="">
                                                  <option ng-repeat="option in data" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                    </div>   -->  
                                    <div class="form-group">
                                         <label for="exampleInputEmail1">Patient</label>
                                        <input type="text" class="form-control"  placeholder="Patient Name" ng-model="patient.patient" required="">
                                    </div>
                                    <div class="form-group">
                                         <label for="exampleInputEmail1">Disease</label>
                                        <input type="text" class="form-control"  placeholder="disease" ng-model="patient.disease" required="">
                                    </div>
                                    <div class="form-group">
                                          <label for="exampleInputEmail1">Appointment Time</label>
                                        <!-- <input type="text" class="form-control"  placeholder="Appointment Time" > -->
                                        <datepicker date-format="MM-dd-yyyy">
                                          <input type="text" name="time" class="editable-input form-control input-sm" ng-model="patient.appointmentTime" required=""/>
                                          </datepicker>
                                    </div>
                                    </br>    
                                     <div class="form-group">
                                          <label for="exampleInputEmail1">Location</label>
                                        <input type="text" class="form-control"  placeholder="Appointment Location" ng-model="patient.location" required="">
                                    </div>
                                    <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid || !patient.doctorId" ng-click="create()" style="margin-left: 175px;margin-top: 10px;">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                 
                <!-- </div> -->


