<div id="sidebar" class="sidebar responsive ace-save-state" ui-view="left@"></div>

<div class="main-content ng-scope">
                   
    <div class="main-content-inner">
       <!--  <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="javascrip:void(0)">Home</a>
                </li>
                <li>
                    <a href="javascrip:void(0">User</a>
                </li>
                <li class="active">List</li>
            </ul>
        
        </div> -->
        <div class="page-content data_entry">
            <div class="page-header">
              <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="pull-left">
			    	<div class="block-center">
			    		<a href="#objectives" aria-controls="objectives" role="tab" data-toggle="tab"><i class="fa fa-bullseye" aria-hidden="true"></i></a>
			    	</div>
			    	<p>Objectives</p>
			    	</li>
			    <li class="active" role="presentation">
			    	<div class="block-center">
			    		<a href="#risks" aria-controls="risks" role="tab" data-toggle="tab"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
			    	</div>
			    	<p>Risks</p>
			    </li>
			    <li role="presentation" class="pull-right">
				    <div class="block-center">
				    	<a href="#requirements" aria-controls="requirements" role="tab" data-toggle="tab"><i class="fa fa-file-text" aria-hidden="true"></i></a>
				    </div>
				    <p>Requirements</p>
			    </li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane pull-left" id="objectives">Objectives</div>
			    <div role="tabpanel" class="tab-pane active" id="risks">
			    	<div class="chart">
			        	<div class="col-sm-4 item">
			        		<div class="heading heading1">
			        			<p>Low</p>	
			        		</div>
			        		<ul class="listing listing1">
			        			<li>AWS</li>
			        		</ul>
			        	</div>
			        	<div class="col-sm-4 item">
			        		<div class="heading heading2">
			        			<p>Medium</p>	
			        		</div>
			        		<ul class="listing listing2">
			        			<li>File Server</li>
			        			<li>Biz Continuity plan</li>
			        			<li>Dropbox</li>
			        		</ul>
			        	</div> 
			        	<div class="col-sm-4 item">
			        		<div class="heading heading3">
			        			<p>High</p>	
			        		</div>
			        		<ul class="listing listing3">
			        			<li>CEO</li>
			        		</ul>
			        	</div>
			        </div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="requirements">
			    	requirements
			    </div>
			  </div>            
            </div>
        </div>

    </div>
</div>
