
<table class="table table-striped">
    <thead>
    <tr>
        <th>Appointment Time</th>
        <th>Rescheduled Time</th>
        <th>Location</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody ng-repeat="list in patientEvent">
    <tr>
        <td>{{list.appointmentTime}}</td>
        <td>{{list.rescheduledTime || 'NA'}}</td>
        <td>{{list.location}}</td>
        <td>{{list.appointmentType}}</td>
        <td><button class="btn btn-primary btn-sm" type="button" ng-if=isAuthenticate ng-click="edit(list)" >Edit</button></td>
    </tr>
    </tbody>
</table>


