
<table class="table table-striped">
    <thead>
    <tr>
        <th>SR.No</th>
        <th>Patient</th>
        <th>Cause</th>
        <th>Appointment Time</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody ng-repeat="list in patientEvent">
    <tr>
        <td>{{$index +1}}</td>
        <td>{{list.patient}}</td>
        <td>{{list.cause}}</td>
        <td>{{list.appointmentTime}}</td>
        <td>{{list.status}}</td>
        <td><button class="btn btn-primary btn-sm" type="button" ng-if=isAuthenticate ng-click="edit(list)" >Edit</button></td>
    </tr>
    </tbody>
</table>


