    <div class="col-md-12" style="background-color:#F1F1F1;" ng-controller="eventListCtrl as demo">
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
               
                <!--logo -->
                <div class="logo">
                    <a href="index.html">
                        <img src="../../assets/img/logo.png" style="height:53px;margin-top:8px;" />

                        <!--<h1>NOVUS</h1>
                        <span>AdminPanel</span>-->
                    </a>
                   
                </div>
                <!--<button id="showLeftPush"><i class="fa fa-bars"></i></button>-->
                <!--//logo-->
                <!--toggle button start-->
                <!--<button id="showLeftPush"><i class="fa fa-bars"></i></button>-->
                <!--toggle button end-->
                <!--search-box-->
                <div class="search-box">
                     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{selectedItem.name}}
                                <span class="caret"></span>
                            </button>
                  <!--   <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Select option
                        {{select.name}}
                   <span class="caret"></span>
                    </button> -->
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="a in response">
                                    <a ng-click="getEvent(a)">{{a.name}}</a>
                                </li>
                            </ul>
                    <!--<ul>
                        <li class="schedule-dropedown">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li >
                                        
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>-->

                    <!--<form class="input">
                        <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
                        <label class="input__label" for="input-31">
                            <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                            </svg>
                        </label>
                    </form>-->
                </div><!--//end-search-box-->
                <div class="clearfix"> </div>
            </div>
            <div class="header-right">
                <div class="profile_details_left">
                    <!--notifications of menu start -->

                    <div class="clearfix"> </div>
                </div>
                <!--notification menu end -->
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="assets/images/avatars/user.jpg" alt=""> </span>
                                    <div class="user-name">
                                       <p>{{loginName}}</p>
                                        <span>Administrator</span>
                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="#"><i class="fa fa-user"></i> My Profile</a> </li>
                                <li> <a href="#"><i class="fa fa-cog"></i> Account Settings</a> </li>
                                <li> <a ui-sref="login"><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-md-2" style="text-align: -webkit-left;">
           <p> Barry Bronk PA-C 303-919-1371</p>
           <p> Brian Morgan PA-C 720-201-7993</p>
           <p> Ramu Naidu PA-C 678-464-9624</p>
        </div>
           <div class="col-md-6" style="margin-left: 100px;">
           <p> Spine PA-C Call 720-321-5474 24hrs Day</p>
           <p> Spine PA's - Lindsey 303-653-2389, Nate 303-513-6408, Katie 720-201-6530, Jason 970-376-1049, Gene 303-710-5770</p>
           <p> SAH Ortho Trauma Backup Call - Panorama Orthopedics 303-233-1223 24hrs day</p>
        </div>
           <div class="col-md-2" style="float: right;text-align: -webkit-right;">
           <p> Sonya Silleck PA-C 720-201-3550</p>
           <p> Brian Fox PA-C 303-931-7408</p>
           <p> Chris Erwin PA-C 303-842-1293</p>
        </div>
    </div>
</div>



  
