<div class="footer">
    <div class="row">
        <div class="col-md-2" style="text-align: -webkit-left;">
           <p> Barry Bronk PA-C 303-919-1371</p>
           <p> Brian Morgan PA-C 720-201-7993</p>
           <p> Ramu Naidu PA-C 678-464-9624</p>
        </div>
           <div class="col-md-6" style="margin-left: 100px;">
           <p> Spine PA-C Call 720-321-5474 24hrs Day</p>
           <p> Spine PA's - Lindsey 303-653-2389, Nate 303-513-6408, Katie 720-201-6530, Jason 970-376-1049, Gene 303-710-5770</p>
           <p> SAH Ortho Trauma Backup Call - Panorama Orthopedics 303-233-1223 24hrs day</p>
        </div>
           <div class="col-md-2" style="float: right;text-align: -webkit-right;">
           <p> Sonya Silleck PA-C 720-201-3550</p>
           <p> Brian Fox PA-C 303-931-7408</p>
           <p> Chris Erwin PA-C 303-842-1293</p>
        </div>
    </div>
</div>



  