<div class="co" style="width: 100% !important">
    <div class="sticky-header header-section ">
        <div class="header-left">
            <div class="logo">
                <a href="index.html">
                    <img src="../../assets/img/logo.png" style="height:53px;margin-top:8px;" />
                </a>
            </div>
            <div class="search-box" ng-if='selectDoctor'>
                <ui-select ng-model="appointment.doctor" theme="bootstrap">
                    <ui-select-match placeholder="Select Doctor">{{$select.selected.name | limitTo: 25}}</ui-select-match>
                    <ui-select-choices repeat="item in response | filter: $select.search" ng-click="selectAppDoctor()">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="search-box" ng-if='selectDoctor'>
                <ui-select ng-model="appointment.location" theme="bootstrap">
                    <ui-select-match placeholder="Select Location">{{$select.selected.location | limitTo: 25}}</ui-select-match>
                    <ui-select-choices repeat="item in location | filter: $select.search" ng-click="selectLocation()">
                        <div ng-bind-html="item.location | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="search-box" ng-if='selectDoctor'>
                <ui-select ng-model="appointment.type" theme="bootstrap">
                    <ui-select-match placeholder="Select Type">{{$select.selected | limitTo: 25}}</ui-select-match>
                    <ui-select-choices repeat="item in appointments | filter: $select.search" ng-click="selectType()">
                        <div ng-bind-html="item | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="header-right">
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span class="prfil-img"><img src="assets/images/avatars/user.jpg" alt=""> </span>
                                <div class="user-name">
                                    <p>{{loginName}}</p>
                                    <span>Administrator</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li> <a ui-sref="login" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar" role="navigation" style="width: 20%;left: 0">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a ui-sref="root.dashboard" class="active"><i class="fa fa-dashboard nav_icon"></i>Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="root.appointment" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Appointment</a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="#">Doctor Schedule<span class="nav-badge-btm">08</span></a>
                            </li>
                            <li>
                                <a href="#">Book Appointment</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="page-wrapper" style="height: 800px;overflow: scroll;width: 83%;position: absolute;right: 0 !important;padding: 0;">
        <div class="" ui-view=""></div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-3" style="text-align: -webkit-left;">
                <p> Barry Bronk PA-C 303-919-1371</p>
                <p> Brian Morgan PA-C 720-201-7993</p>
                <p> Ramu Naidu PA-C 678-464-9624</p>
            </div>
            <div class="col-md-6">
                <p> Spine PA-C Call 720-321-5474 24hrs Day</p>
                <p> Spine PA's - Lindsey 303-653-2389, Nate 303-513-6408, Katie 720-201-6530, Jason 970-376-1049, Gene 303-710-5770</p>
                <p> SAH Ortho Trauma Backup Call - Panorama Orthopedics 303-233-1223 24hrs day</p>
            </div>
            <div class="col-md-3" style="float: right;text-align: -webkit-right;">
                <p> Sonya Silleck PA-C 720-201-3550</p>
                <p> Brian Fox PA-C 303-931-7408</p>
                <p> Chris Erwin PA-C 303-842-1293</p>
            </div>
        </div>
    </div>
</div>