 <div class="row" ng-controller="DashboardController">
    <div class="col-md-2" style="padding-right: 0px;">
        <!--left-fixed -navigation-->
        <div class="sidebar" role="navigation">
            <div class="navbar-collapse">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a ui-sref="dashboard" class="active"><i class="fa fa-dashboard nav_icon"></i>Dashboard</a>

                        </li>
                        <li>
                            <a href="#" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Appointment<span class="fa arrow"></span> </a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">Doctor Schedule<span class="nav-badge-btm">08</span></a>
                                </li>
                                <li>
                                    <a href="#">Book Appointment</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ui-sref="eventList" class="chart-nav"><i class="fa fa-user nav_icon"></i>Doctors <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">All Doctors<span class="nav-badge-btm">08</span></a>
                                </li>
                                <li>
                                    <a href="#">Add Doctor</a>
                                </li>
                                <li>
                                    <a href="#">Edit Doctor</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#" class="chart-nav"><i class="fa fa-users nav_icon"></i>Patient<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">All Patients<span class="nav-badge-btm">08</span></a>
                                </li>
                                <li>
                                    <a href="#">Add Patient</a>
                                </li>
                                <li>
                                    <a href="#">Edit Patient</a>
                                </li>

                            </ul>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-book nav_icon"></i>Reports <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="general.html">General<span class="nav-badge-btm">08</span></a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>


                    </ul>
                    <!-- //sidebar-collapse -->
                </nav>
            </div>
        </div>
        <!--left-fixed -navigation-->
    </div>
</div>    


