        <!-- /.sidebar-shortcuts -->
<!-- <ul class="nav nav-list">
    <li class="active"><a ui-sref="root.dash">DASHBOARD</a></li>
    <li><a ui-sref="root.dashboard">Data entry</a> -->
<!-- <ul>
<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Objectives</a></li>
<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Risks</a></li>
<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Requirement</a></li>
</ul> -->
<!-- </li> -->
<!-- </ul> -->
<!-- /.nav-list -->
<!--         <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div> -->
<div class="row">
    <div class="col-md-2" style="padding-right: 0px;">
        <!--left-fixed -navigation-->
        <div class="sidebar" role="navigation">
            <div class="navbar-collapse">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a ui-sref="dashboard" class="active"><i class="fa fa-dashboard nav_icon"></i>Dashboard</a>
                           
                        </li>
                        <li>
                            <a ui-sref="#" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Appointment<span class="fa arrow"></span> </a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">Doctor Schedule<span class="nav-badge-btm">08</span></a>
                                </li>
                                <li>
                                    <a href="#">Book Appointment</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="chart-nav"><i class="fa fa-user nav_icon"></i>Doctors <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">All Doctors<span class="nav-badge-btm">08</span></a>
                                </li>
                                <li>
                                    <a href="#">Add Doctor</a>
                                </li>
                                <li>
                                    <a href="#">Edit Doctor</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="chart-nav"><i class="fa fa-users nav_icon"></i>Patient<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">All Patients<span class="nav-badge-btm">08</span></a>
                                </li>
                                <li>
                                    <a href="#">Add Patient</a>
                                </li>
                                <li>
                                    <a href="#">Edit Patient</a>
                                </li>

                            </ul>
                        </li>
                         <li class="">
                            <a href="#"><i class="fa fa-book nav_icon"></i>Reports <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="general.html">General<span class="nav-badge-btm">08</span></a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        
                       
                    </ul>
                    <!-- //sidebar-collapse -->
                </nav>
            </div>
        </div>
        <!--left-fixed -navigation-->
    </div>
    <div class="col-md-10" style="background-color:#F1F1F1;">
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
               
                <!--logo -->
                <div class="logo">
                    <a href="index.html">
                        <img src="../../assets/img/logo.png" style="height:53px;margin-top:8px;" />

                        <!--<h1>NOVUS</h1>
                        <span>AdminPanel</span>-->
                    </a>
                   
                </div>
                <!--<button id="showLeftPush"><i class="fa fa-bars"></i></button>-->
                <!--//logo-->
                <!--toggle button start-->
                <!--<button id="showLeftPush"><i class="fa fa-bars"></i></button>-->
                <!--toggle button end-->
                <!--search-box-->
                <div class="search-box">
                     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{selectedItem.name}}
                                <span class="caret"></span>
                            </button>
                  <!--   <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Select option
                        {{select.name}}
                   <span class="caret"></span>
                    </button> -->
                     <ul class="dropdown-menu" ng-if=isAuthenticate aria-labelledby="dropdownMenu1">
                                <li ng-repeat="a in response">
                                    <a ng-click="getEvent(a)">{{a.name}}</a>
                                </li>
                            </ul>
                    <!--<ul>
                        <li class="schedule-dropedown">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li >
                                        
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>-->

                    <!--<form class="input">
                        <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
                        <label class="input__label" for="input-31">
                            <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                            </svg>
                        </label>
                    </form>-->
                </div><!--//end-search-box-->
                <div class="clearfix"> </div>
            </div>
            <div class="header-right">
                <div class="profile_details_left">
                    <!--notifications of menu start -->

                    <div class="clearfix"> </div>
                </div>
                <!--notification menu end -->
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="assets/images/avatars/user.jpg" alt=""> </span>
                                    <div class="user-name">
                                        <p>Admin</p>
                                        <span>Administrator</span>
                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="#"><i class="fa fa-user"></i> My Profile</a> </li>
                                <li> <a href="#"><i class="fa fa-cog"></i> Account Settings</a> </li>
                                <li> <a ui-sref="login"><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!--<div class="dashbord">-->
        <!-- main content start-->
        <div class="row">
            <ul class="breadcrumb" style="margin-top: 60px;background-color: #ffffff;">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/dashboard" ui-sref="root.dashboard">Home</a>
                </li>

                <li class="active">Dashboard</li>
                <li style="float: right;" class="active"><button class="btn btn-primary btn-sm" ui-sref="OnCall"> On Call</button></li>
            </ul>
                
            

        </div>
        <div id="page-wrapper" >
           


            <div class="row calender widget-shadow">
                <h4 class="title">Schedule</h4>
                <md-event-calendar auto-height="40"
                                   ng-model="selected"
                                   md-events="events"
                                   md-event-click="eventClicked($selectedEvent)"
                                   md-create-event-click="createClicked($date)"
                                   md-label="title"
                                   md-show-create-link
                                   md-create-disabled="dis">
                    <md-event-calendar-header class="clndr-controls" >
                        <div flex></div>
                        <div>




                            <div class="clndr-control-button" style="float: left;margin-left:10px">
                                <div class="btn btn-default" ng-click="mdEventCalendar.previousMonth()" style="text-align: center;"><span class="clndr-previous-button">Previous</span></div>
                                <!--<md-event-calendar-prev class="clndr-previous-button">previous</md-event-calendar-prev>-->
                                <div class="btn btn-default" ng-click="mdEventCalendar.nextMonth()" style="text-align: center;"><span class="clndr-previous-button">Next</span></div>
                                <!--<md-event-calendar-next class="clndr-next-button">next</md-event-calendar-next>-->
                                <div class="btn btn-default" ng-click="mdEventCalendar.setToday()" style="text-align: center;"><span class="clndr-previous-button">Today</span></div>

                            </div>
                            
                            <div class="clndr-control-button" style="float: left;width: 652px;text-align: center;">
                                <md-event-calendar-title class="month" ></md-event-calendar-title>
                            </div>
                           
                        </div><br />
                        <!--<div flex layout="row">
                <span flex></span>
                <md-event-calendar-today></md-event-calendar-today>
            </div>-->
                    </md-event-calendar-header>
                </md-event-calendar>

            </div>
        </div>
        <div class="main-page">

         
        </div>
    </div>
</div>

<div class="footer">
    <!--<p>© 2016 Novus Admin Panel. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>-->
</div>

